<div class="comments">
    {{#each this}}
    <div class="card">
        <h3 class="card-title"></h3>
        <section class="comment card-body">
            <div class="text"> 
                {{comment_text}}
            </div>
            <div class="data">
                {{user.name}}, {{format_date created_at}}
            </div>
        </section>
    </div>
    {{/each}}
</div>