html, body {
  background-color:rgb(201, 0, 0);
}

a:hover{
  color:blue;
}
.app-title {
  font-size: 40px;
  text-align:center;
}
.nav-title {
  padding: 5px;
 color: white;
  font-size: 30px;
}

.title {
  color: white;
  font-size: 25px;
}
.card {
  margin: 0 0 20px 0;
  border: 2px;
  /* text-align:center; */

}

.card-header {
  color: white;
  background-color: black;
  padding: 1%;
 
}