{{> post-info post}}

{{#if loggedIn}}

{{/if}}

{{> comments post.comments}}
<div>
    <form class="comment-form">
    <div>
        <textarea name="comment-body" id="comment_text" cols="50" rows="10"></textarea>
    </div>
 <button type="submit" class="comment-btn btn">Comment</button>
 </form>
</div>
 <script src="/js/comment.js"></script>

{{#if loggedIn}}
<script src="./js/comment.js"></script>
{{/if}}